.div-inputTreino {
    /* Adicione estilos de layout aqui */
    margin: 20px;
}

.labelnome-createProduct {
    /* Estilos para rótulos */
    font-size: 18px;
    font-weight: bold;
}

.inputtext-createProduct {
    /* Estilos para campos de entrada de texto */
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.createButton-createProduct {
    /* Estilos para botão de criação */
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.createButton-createProduct:hover {
    /* Estilos de hover para botão de criação */
    background-color: #45a049;
}
