.father-historico{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;    
    font-family: Arial, sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
}

.father-item{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.item-history {
    width: calc(100% - 20px); /* Ajuste para garantir que haja espaço suficiente para 2 itens por linha */
    min-width: 170px; /* Define uma largura mínima para os itens */
    max-width: 90%; /* Define uma largura máxima para os itens */
    border: 1px solid;
    border-color: #e5e7eb;
    padding: 0px 1px 10px 5px;
    background-color: #ffffff;
    border-radius: 7px;
    margin-bottom: 20px;
    box-sizing: border-box; /* Garante que o padding e a borda não aumentem a largura do item */
    display: flex;
    flex-direction: column;
}

.item-history p {
    margin: 5px 0; /* Reduzido para diminuir o espaço entre os parágrafos */
    font-size: 14px; /* Opcional: ajuste o tamanho da fonte se necessário */
}

.button-history{
    background-color: #212529;
    color: #ffffff;
    font-weight: 600;
    border: none;
    padding: 3px 12px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
}