
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.father-home {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

/* Perfil */

.user-profile {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.profile-info {
    display: flex;
    align-items: center;
}

.profile-icon {
    font-size: 50px;
    color: #212529;
    margin-right: 10px;
}

.user-info h3 {
    margin: 0;
    font-size: 18px;
    color: #6c757d;
}

.user-info p {
    margin: 0;
    color: gray;
    font-size: 14px;
}

/* Logout */

.settings{
    display: flex;
    align-items: center;
}

.profile-icon-logout{
    font-size: 30px;
    color: #212529;
    margin-right: 10px;
}

/* Barra de Navegação */

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f9fafb;
    z-index: 1000; /* Garante que a barra esteja no topo */
}

.div-buttons, .bottom-bar {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 0;
}

.bottom-bar-button {
    background-color: #f9fafb;
    color: #212529;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0px;
    font-size: 12px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 4px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bottom-bar-button:hover {

}

.icone-buttonbar{
    font-size: 30px;
}

.icone-buttonbar-dumbble{
    font-size: 34px;
}