.father-treino {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 10px;
}

/*Componente treinoCompleto*/
.children-Treino-Completo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-treino {
    border: 1px solid #c2c2c2;
    background-color: #ddd;
    border-radius: 10px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
}

.exercicios {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; /* Adicionado para alinhamento vertical */
}

.itens-treino {
    flex: 1;
    padding-left: 10px;
    padding-right: 10px;
    margin: 5px;
    font-size: small;
    text-align: center;
    white-space: none; /* Adicionado para evitar quebra de linha */
    align-items: center; /* Adicionado para alinhamento vertical */
}

.bottom-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #f9fafb;
    z-index: 1000; /* Garante que a barra esteja no topo */
}

.div-buttons, .bottom-bar {
    display: flex;
    justify-content: center;
    gap: 55px;
    margin: 0;
}

.bottom-bar-button-treino {
    background-color: #f9fafb;
    color: #212529;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column; /* Altera a direção dos elementos filhos para coluna */
    align-items: center;
    gap: 5px; /* Espaço entre o ícone e o texto */
    font-size: 12px;
    margin: 4px 0px;
    cursor: pointer;
    border-radius: 4px;
}

.bottom-bar-button-treino .icon {
    font-size: 25px; /* Tamanho do ícone */
}

/* Create Treino */
.div-inputTreino{
    padding-bottom: 120px;
}

